<div class="container" style="width: 100%; margin-top: 30px">
  <div class="row">
    <ng-container *ngFor="let annonce of annonces">
      <div class="card col-md-3" style="margin: 1em; padding-left: 0px;width: 22.8%; border-radius: 15px; overflow: hidden; border: none;"><a style="color: #5c636a">
        <img src="https://abacashop.fr/wp-content/uploads/2020/08/orchidee-1-tige-avec-cache-pot.jpeg" style="width: 300px; height: 350px; border-radius: 10px;">
        <h3 style="margin-top: 10px; font-weight: 500;color: black">{{annonce.title}}</h3>
        <!--<h4 style="margin-top: -20px">{{annonce.description}}</h4>-->
        <h4 style="margin-top: -15px">{{annonce.startDate}} - {{annonce.endDate}}</h4>
        <!--
        <button mat-raised-button style="background-color: #5cb874; color: white; margin-left: 76px;width: 150px; margin-bottom: 15px;">
          Voir
        </button>
        -->
      </a>
      </div>
    </ng-container>
  </div>
</div>
