

  <div class="toolbar-filter">&nbsp;&nbsp;
    <mat-form-field style="width :16%; height: 75px; margin-left: 30px;">
      <mat-label>Nom Complet</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Entrez le début d'un nom">
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-slide-toggle [checked]="unactiveSelected"
                      (change)="unactiveChanged($event)">
      Utilisateur désactivé uniquement
    </mat-slide-toggle>
  </div>


  <div class="mat-elevation-z8">
    <button mat-raised-button style="background-color: #5cb874; color: white"
            (click)="addUser()">
      Ajouter un utilisateur
    </button> <br /><br />

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Nom  </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Prenom </th>
        <td mat-cell *matCellDef="let element">{{ element.prenom }}</td>
      </ng-container>

      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef>Email </th>
        <td mat-cell *matCellDef="let element">{{ element.mail }}
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role </th>
        <td mat-cell *matCellDef="let element">{{ element.role }}
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="edit(row.id)"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[25, 50]" showFirstLastButons>
  </mat-paginator>



