table {
  width: 90%;
}

.toolbar-filter {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 12px;
  width: 90%;
}



.mat-elevation-z8{
  margin-left: 50px;
  width: 90%;
  max-height: 500px;
  overflow: auto;
}

